In [1]:
import pandas as pd

# Load the dataset
data = pd.read_csv(r'C:\Cheynhen\Python\Dataset\e-commerce\Finaldata_Adjusted_Income_Product_Ratio_Dataset.csv')

# Display basic information and first few rows of the dataset to assess its structure
data_info = data.info()
data_head = data.head()

data_info, data_head

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 15 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Customer ID            250000 non-null  int64
 1   Purchase Date          250000 non-null  object
 2   Product Category       250000 non-null  object
 3   Product Price          250000 non-null  int64
 4   Quantity               250000 non-null  int64
 5   Total purchase amount  250000 non-null  int64
 6   Payment Method         250000 non-null  object
 7   Customer Age           250000 non-null  int64
 8   Returns                250000 non-null  int64
 9   Customer Name          250000 non-null  object
 10  Age                    250000 non-null  int64
 11  Gender                 250000 non-null  object
 12  Churn                  250000 non-null  float64
 13  Product/Income Ratio   250000 non-null  float64
 14  Discount Apply         250000 non-null  int64
dtypes: float64(2), int64(8), object(5)
memory usage: 28.6+ MB

(None,
    Customer ID     Purchase Date Product Category  Product Price  Quantity  \
 0        46251    5/4/2023 20:12      Electronics             12         3
 1        46251     9/1/2022 6:22             Home            468         4
 2        46251  20/04/2022 13:03             Home            288         2
 3        46251     5/7/2023 1:57         Clothing            196         1
 4        13593  14/11/2021 21:43             Home            449         1

    Total purchase amount Payment Method  Customer Age  Returns  \
 0                     36         Crypto            37        0
 1                   1872    Credit Card            37        0
 2                    576    Credit Card            37        0
 3                    196         Crypto            37        0
 4                    449    Credit Card            49        1

          Customer Name  Age  Gender  Churn  Product/Income Ratio  \
 0  Christine Hernandez   37    Male  0.355                  0.05
 1  Christine Hernandez   37    Male  0.355                  1.96
 2  Christine Hernandez   37    Male  0.355                  1.25
 3  Christine Hernandez   37    Male  0.355                  0.77
 4          James Grant   49  Female  0.355                  1.98

    Discount Apply
 0              11
 1               7
 2               0
 3              11
 4              11  )

In [7]:
# Step 1: Remove duplicate 'Age' column
data_cleaned = data.drop(columns=['Age'])

# Step 2: Convert 'Purchase Date' to datetime format
data_cleaned['Purchase Date'] = pd.to_datetime(data_cleaned['Purchase Date'], format=r'%d/%m/%Y %H:%M')

# Step 3: Handle missing values in 'Returns' column
# Since 'Returns' indicates whether a purchase was returned (1.0) or not (0.0),
# we can assume missing values mean no return (0.0)
data_cleaned['Returns'].fillna(0.0, inplace=True)

# Step 4: Verify 'Total Purchase Amount' consistency
# Calculate if Total Purchase Amount matches Product Price * Quantity
data_cleaned['Calculated Total'] = data_cleaned['Product Price'] * data_cleaned['Quantity']
inconsistent_totals = data_cleaned[data_cleaned['Total purchase amount'] != data_cleaned['Calculated Total']]

# Remove the 'Calculated Total' column after the check
data_cleaned.drop(columns=['Calculated Total'], inplace=True)

# Step 5: Convert 'Gender' to numerical value
# 0 = Male, 1 = Female
data_cleaned['Gender'].replace({'Male':0, 'Female':1}, inplace=True)

# Step 6: Convert 'Product Category' to numerical value
# 0 = Electronics, 1 = Home, 2 = Clothing, 3 = Books
data_cleaned['Product Category'].replace({'Electronics':0, 'Home':1, 'Clothing':2, 'Books':3}, inplace=True)

# Step 7: Convert 'Payment Method' to numerical value
# 0 = Credit Card, 1 = Paypal, 2 = Cash, 3 = Crypto
data_cleaned['Payment Method'].replace({'Credit Card':0, 'Paypal':1, 'Cash':2, 'Crypto':3}, inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_2856\726893623.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_cleaned['Returns'].fillna(0.0, inplace=True)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_2856\726893623.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_cleaned['Gender'].replace({'Male':0, 'Female':1}, inplace=True)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_2856\726893623.py:22: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_cleaned['Gender'].replace({'Male':0, 'Female':1}, inplace=True)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_2856\726893623.py:26: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_cleaned['Product Category'].replace({'Electronics':0, 'Home':1, 'Clothing':2, 'Books':3}, inplace=True)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_2856\726893623.py:26: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_cleaned['Product Category'].replace({'Electronics':0, 'Home':1, 'Clothing':2, 'Books':3}, inplace=True)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_2856\726893623.py:30: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_cleaned['Payment Method'].replace({'Credit Card':0, 'Paypal':1, 'Cash':2, 'Crypto':3}, inplace=True)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_2856\726893623.py:30: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_cleaned['Payment Method'].replace({'Credit Card':0, 'Paypal':1, 'Cash':2, 'Crypto':3}, inplace=True)

In [8]:
# Output results
data_cleaned_info = data_cleaned.info()
inconsistent_totals_count = inconsistent_totals.shape[0]

data_cleaned_info, inconsistent_totals_count

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Customer ID            250000 non-null  int64
 1   Purchase Date          250000 non-null  datetime64[ns]
 2   Product Category       250000 non-null  int64
 3   Product Price          250000 non-null  int64
 4   Quantity               250000 non-null  int64
 5   Total purchase amount  250000 non-null  int64
 6   Payment Method         250000 non-null  int64
 7   Customer Age           250000 non-null  int64
 8   Returns                250000 non-null  int64
 9   Customer Name          250000 non-null  object
 10  Gender                 250000 non-null  int64
 11  Churn                  250000 non-null  float64
 12  Product/Income Ratio   250000 non-null  float64
 13  Discount Apply         250000 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(10), object(1)
memory usage: 26.7+ MB

(None, 0)

In [9]:
# Save the cleaned dataset to a new CSV file
data_cleaned.to_csv(r'C:\Cheynhen\Python\Dataset\e-commerce\Finaldata_Adjusted_Income_Product_Ratio_Dataset_Cleaned.csv', index=False)